<div class="form-group">
  <%= simple_form_for(Task.new, remote: true) do |f| %>
    <%= f.input :description, label: "Task description", class:"form-control" %>
    <div class="form-row">
      <div class="col">
        <%= f.input :deadline, label: "Deadline", as: :date, html5: true, min: Date.today, class:"form-control" %>
      </div>
      <div class="col">
        <%= f.input :priority, label: "Priority (1: High, 5: Low)", collection: [1, 2, 3, 4, 5 ], class:"form-control" %>
      </div>
    </div>
    <div class="col">
    <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>